.nav-link
  padding: 0

// Country menu
#menu-country
  .menu-item
    display: block
    margin-bottom: 5px
    .nav-link
      color: white
      text-decoration: underline
      font-size: 14px
      &:hover
        text-decoration: none
        color: $orange
      &:before
        content: ''
        display: inline-block
        width: 21px
        height: 21px
        margin-right: 5px
        position: relative
        top: 5px
    &.b-country-geography-list__img_aus .nav-link:before
      background: url(/frontend/img-content/avstriya_s.png) no-repeat

    &.b-country-geography-list__img_ang .nav-link:before
      background: url(/frontend/img-content/england_s.png) no-repeat

    &.b-country-geography-list__img_ger .nav-link:before
      background: url(/frontend/img-content/germany_s.png) no-repeat

    &.b-country-geography-list__img_esp .nav-link:before
      background: url(/frontend/img-content/spain_s.png) no-repeat

    &.b-country-geography-list__img_chi .nav-link:before
      background: url(/frontend/img-content/china_s.png) no-repeat

    &.b-country-geography-list__img_lit .nav-link:before
      background: url(/frontend/img-content/lithuania_s.png) no-repeat

    &.b-country-geography-list__img_slo .nav-link:before
      background: url(/frontend/img-content/slovakiya_s.png) no-repeat

    &.b-country-geography-list__img_fra .nav-link:before
      background: url(/frontend/img-content/france_s.png) no-repeat

    &.b-country-geography-list__img_shv .nav-link:before
      background: url(/frontend/img-content/sweden_s.png) no-repeat

    &.b-country-geography-list__img_usa .nav-link:before
      background: url(/frontend/img-content/usa_s.png) no-repeat

    &.b-country-geography-list__img_bel .nav-link:before
      background: url(/frontend/img-content/belgiya_s.png) no-repeat

    &.b-country-geography-list__img_hol .nav-link:before
      background: url(/frontend/img-content/gollandiya_s.png) no-repeat

    &.b-country-geography-list__img_it .nav-link:before
      background: url(/frontend/img-content/italy_s.png) no-repeat

    &.b-country-geography-list__img_lat .nav-link:before
      background: url(/frontend/img-content/latvia_s.png) no-repeat

    &.b-country-geography-list__img_pol .nav-link:before
      background: url(/frontend/img-content/poland_s.png) no-repeat

    &.b-country-geography-list__img_fin .nav-link:before
      background: url(/frontend/img-content/finland_s.png) no-repeat

    &.b-country-geography-list__img_che .nav-link:before
      background: url(/frontend/img-content/china_s.png) no-repeat